version: "3.8"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: secure_auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
